.DS_Store
.vscode
/.idea
.idea

*.py[cod]
__pycache__/

/*/settings/secrets.py

node_modules

/var/fixtures
/var/media
/var/static
/accords/static/frontend
.ionide
*.dot
*.pdf
.lsp
.env
/venv/
/myenv/

application_default_credentials.json
